/*

COLOR SCHEME:

For those curious, this is our color scheme.
#ffffff		White
#eeeeee		Very light gray
#d6d6d6		Fairly light gray
#bababa		Light gray
#a5a5a5		Gray
#626466		IWU Grey
#333333		Very dark gray
#000000		IWU Black
#980826		IWU Red [Yes, this is slightly different than the color IWU has listed on their 'visual identity' page. However, this is the color that they *actually use* for their *actual* *official* websites, so we're going with this one instead of the fake one.
#520007		IWU Red Dark

*/

*
{
	margin: 0;
	padding: 0;
	float:none;
	outline: 0;
	border: none;
}

canvas
{
	outline:none;
}

html, head, body, global_wrapper, inline, block
{
	/* basic reset */
	margin: 0px;
	padding: 0px;
	border: 0px;
	height:100%;
}

body 
{
	background-attachment: fixed;
	background: #a5a5a5 url("../images/bg.png") 0 0 fixed;
	background: -webkit-linear-gradient(rgba(0,0,0,.55), rgba(255,255,255,.25)) fixed, #a5a5a5 url("../images/bg.png") fixed 0 0;
	background: linear-gradient(rgba(0,0,0,.55), rgba(255,255,255,.25)) fixed, #a5a5a5 url("../images/bg.png") fixed 0 0;
	background-repeat: repeat;
	min-height:100%;
}

#global_wrapper
{
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	padding:0px;
	margin:0px;
	min-height:100%;
	height: auto;
}

#main_wrapper
{
	width:1000px;
	margin:auto;
}

#header_wrapper
{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #333333;
	margin-left: auto;
	margin-right: auto;
	min-width:1000px;
	max-width:1000px;
	background-color: #980826;
	background: -webkit-linear-gradient(rgba(255,255,255,.12), rgba(255,255,255,0)), #980826;
	background: linear-gradient(rgba(255,255,255,.12), rgba(255,255,255,0)), #980826;
	height:110px;
	box-shadow: 0px 2px 12px 2px #333333;
}

#header_logo
{
	color: #eeeeee;
	font-size: 45px;
	float: left;
	padding:30px 10px 0px 20px; /*top, right, bottom, left*/
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	letter-spacing:2px;
	overflow:hidden;
	display:inline;
}

#header_social
{
	color: #1a0000;
	font-size: 20px;
	font-weight: bold;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	display:inline;
	float:right;
	padding-right:20px;
	padding-top:50px;
}

#header_social ul
{
	list-style-type:none;
	clear:both;
	overflow:hidden;
	padding-top:5px;
	padding-right:0px;
	float:right;
}

#header_social li
{
	display:inline;
	width:24px;
	height:24px;
}

.fb_icon
{
	background-image: url('../images/fbicon.png');
	width:24px;
	height:24px;
	display:inline-block;
	margin-right:5px;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}

.fb_icon:hover
{
	background-image: url('../images/fbicon-hover.png');
}

.twitter_icon
{
	background-image: url('../images/twitter-icon.png');
	width:24px;
	height:24px;
	display:inline-block;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}

.twitter_icon:hover
{
	background-image: url('../images/twitter-icon-hover.png');
}

#header_social li img
{
	width:24px;
	height:24px;
	margin-left:5px;
}

#header_logo img
{
	height:70px;
}

#header_navigation
{
	min-width:1000px;
	max-width:1000px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	height:36px;
	background-color:#626466;
	background: #626466;
	background: -webkit-linear-gradient(rgba(0,0,0,.15), rgba(255,255,255,.15)), #626466;
	background: linear-gradient(rgba(0,0,0,.15), rgba(255,255,255,.15)), #626466;
	border-style:solid;
	border-color:#333333;
	border-width: 0px 0px 2px 0px;
	box-shadow: 0px 2px 12px 2px #333333;
}

#banner_image
{
	box-shadow: 0px 2px 12px 2px #333333;
	height:350px;
	width:1000px;
	overflow-y:hidden;
	background-color:#333333;
}

#banner_image img
{
	position:absolute;
	overflow:hidden;
	display:block;
	height:350px;
	width:1000px;
}

#banner_image_2 img
{
	position:relative;
	overflow:hidden;
	display:block;
	height:350px;
	width:1000px;
}

.navigation_bar
{
	list-style-type:none;
	height:36px;
	margin:0px;
	padding:0px;
	overflow:hidden;
}

.footer_navigation_bar
{
	display:inline;
	list-style-type:none;
	height:100%;
	margin:0px;
	padding:0px;
	overflow:hidden;
}

.footer_navigation_bar li:first-child
{
	border-style:solid;
	border-width:0px 0px 0px 1px;
	border-color:#eeeeee;
}

.footer_navigation_bar li:last-child
{
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#eeeeee;
}

.footer_navigation_bar li+li
{
	border-style:solid;
	border-width:0px 0px 0px 1px;
	border-color:#eeeeee;
}

.footer_navigation_buttons
{
	height:auto;
	display:inline;
	margin:0px;
	margin-top:14px;
	float:right;
	text-align:center;
}

.footer_navigation_link:link, .footer_navigation_link:visited
{
	float:right;
	display:inline;
	min-width:50px;
	text-decoration:none;
	text-align:center;
	color: #d6d6d6;
	font-size:16px;
	padding-left:15px;
	padding-right:15px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	text-transform:uppercase;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}

.footer_navigation_link:hover
{
	color: #eeeeee;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}

.footer_navigation_link:active
{
	color: #eeeeee;
}

.footer_navigation_link
{
	font-size:16px;
}

.navigation_bar li
{
	border-style:solid;
	border-width:0px 0px 0px 1px;
	border-color:#333333;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}

.navigation_buttons
{
	height:36px;
	min-width:50px;
	display:inline;
	margin:0px;
	float:right;
	text-align:center;
	background: #626466;
	background: -webkit-linear-gradient(rgba(0,0,0,.35), rgba(255,255,255,.20)), #626466;
	background: linear-gradient(rgba(0,0,0,.35), rgba(255,255,255,.20)), #626466;
}

.navigation_link:link, .navigation_link:visited
{
	padding-top:3px;
	padding-bottom:3px;
	padding-left:15px;
	padding-right:15px;
	float:right;
	display:inline;
	height:30px;
	min-width:50px;
	text-decoration:none;
	text-align:center;
	color: #eeeeee;
	font-size:20px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	text-transform:uppercase;
}

.navigation_buttons:hover
{
	background-color: #333333;
	-webkit-transition: background-color 0.3s ease;
  	-moz-transition: background-color 0.3s ease;
  	-o-transition: background-color 0.3s ease;
  	transition: background-color 0.3s ease;
}

.navigation_buttons:active
{
	background-color: #bababa;
	-webkit-transition: none;
  	-moz-transition: none;
  	-o-transition: none;
  	transition: none;
}

.navigation_link:active
{
	-webkit-transition: color 0.3s ease-out;
  	-moz-transition: color 0.3s ease-out;
  	-o-transition: color 0.3s ease-out;
  	transition: color 0.3s ease-out;
}

.navigation_link
{
	font-size:20px;
	-webkit-transition: padding 0.3s ease;
  	-moz-transition: padding 0.3s ease;
  	-o-transition: padding 0.3s ease;
  	transition: padding 0.3s ease;
}

.navigation_link:hover
{
	-webkit-transition: padding 0.3s ease;
  	-moz-transition: padding 0.3s ease;
  	-o-transition: padding 0.3s ease;
  	transition: padding 0.3s ease;
}

#footer_wrapper
{
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #333333;
	min-width:1000px;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.25)), #626466;
	background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.25)), #626466;
	height:50px;
	clear:both;
	box-shadow: 0px 2px 12px 2px #333333;
}

#footer_left
{
	display:inline;
	float:left;
	height:100%;
	color: #333333;
	font-size: 14px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

#footer_left p
{
	color: #eeeeee;
	padding-top:15px;
	padding-left:15px;
}

#footer_right
{
	display:inline;
	padding-top: 15px;
	color: #333333;
	font-size: 20px;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#content_wrapper
{
	border-style:solid;
	border-width:2px 0px 0px 0px;
	border-color:#333333;
	background-color:#bababa;
	background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.05)), #bababa;
	background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.05)), #bababa);
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	min-width:1000px;
	max-width:1000px;
	min-height:80%;
	height:auto;
	overflow:auto;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	box-shadow: 0px 2px 12px 2px #333333;
}

#content_left
{
	display:inline-block;
	float:left;
	height: 100%;
	min-height:80%;
	max-height:600px;
	width:180px;
	min-width:180px;
	max-width:180px;
	text-align:right;
	overflow:hidden;
}

#content_middle
{
	display:inline-block;
	height: 100%;
	min-height:600px;
	float:right;
	width:620px;
	overflow-x:hidden;
	background-color: #eeeeee;
	padding:10px;
	text-align:justify;
}

#content_right
{
	display:inline-block;
	float:right;
	height: 100%;
	min-height:80%;
	max-height:600px;
	width:180px;
	min-width:180px;
	max-width:180px;
	text-align:left;
	overflow:hidden;
}

.sidebar_item
{
	width:100%;
	height:100%;
	text-align: center;
	font-size:14px;
	/*background-color: #980826;*/
	background: -webkit-linear-gradient(rgba(0,0,0,.15), rgba(255,255,255,.05)), #980826;
	background: linear-gradient(rgba(0,0,0,.15), rgba(255,255,255,.05)), #980826;
	color:#eeeeee;
	padding-top:6px;
	padding-bottom:6px;
	letter-spacing:1px;
	text-transform:uppercase;
	text-shadow: 0px 0px 5px #626466;
}

.sidebar_paragraph
{
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
	margin-top:0px;
	padding-bottom:10px;
	border-radius:0px 0px 8px 8px;
	box-shadow: 0px 3px 6px #626466;
	font-size:14px;
	background-color:#d6d6d6;
	border-color:#a5a5a5;
	border-style:solid;
	border-width:1px;
	-webkit-transition: 0.5s ease;
  	-moz-transition: 0.5s ease;
  	-o-transition: 0.5s ease;
  	transition: 0.5s ease;
}

.sidebar_paragraph:hover
{
	padding-top:10px;
	-webkit-transition: 0.5s ease;
  	-moz-transition: 0.5s ease;
  	-o-transition: 0.5s ease;
  	transition: 0.5s ease;
}

#content_middle h1, h2, h3, h4, h5, h6
{
	padding-left:10px;
	padding-right:10px;
	text-shadow:5px 5px 24px #626466;
	padding-bottom:2px;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-weight:normal;
	font-size:30px;
}

#content_middle h2
{
	font-size:25px;
}

#content_middle p
{
	padding-left:15px;
	padding-right:15px;
	padding-bottom:65px;
}

#content_wrapper a
{
	color:#980826;
	padding:0px;
}

#content_wrapper a:visited
{
	color:#980826;
}

#content_wrapper a:hover
{
	color:#626466;
}

#content_middle img
{
	max-width:614px;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-color: #980826;
	border-width:3px 3px 3px 3px;
	border-radius:6px;
	display:block;
}

.acm_logo_main_page
{
	width:160px;
	box-shadow: 0px 4px 10px 0px #626466;
	display:inline !important;
	float:left !important;
	margin-top: 5px !important;
	margin-left:10px !important;
	margin-right:20px !important;
}

.iwu_logo_main_page
{
	/*margin-top:40px;
	margin-bottom:50px;
	padding:0px;
	box-shadow: 0px 4px 10px 0px #626466;
	background-color:#aeaeae;*/

	width:290px;
	box-shadow: 0px 4px 10px 0px #626466;
	display:inline !important;
	float:right !important;
	margin-top: 5px !important;
	margin-left:20px !important;
	margin-right:10px !important;
}

.content_divider
{
	width:620px;
	display:block;
	height:8px;
	background-color:#A5A5A5;
	background-image:url("../images/BannerDivider.png");
	margin-bottom:10px;
	border-radius: 3px;
}

.small_content_divider
{
	width:604px;
	display:block;
	height:4px;
	background-color:#a5a5a5;
	background-image:url("../images/SmallBannerDivider.png");
	margin-bottom:10px;
	border-radius: 3px;
	margin-left:8px;
}

#image_gallery
{
	display: table;
	margin: 0 auto;
	width:100%;
	margin-bottom:30px;
}

#image_gallery ul
{
	max-width:620px;
}

#image_gallery li
{
	display:inline-table;
	width:80px;
	height:80px;
	float:left;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:8px;
	padding-top:8px;
}

#image_gallery li img
{
	width:80px;
	height:80px;
	border:solid;
	border-color:#626466;
	border-width:3px 3px 3px 3px;
	box-shadow: 2px 2px 4px 0px #626466;
	cursor: pointer; cursor: hand;
}

#big_picture img
{
	display:block;
	max-width: 100%;
	max-height: 90%;
	border:solid;
	border-color:#980826;
	border-width:3px 3px 3px 3px;
	box-shadow: 0px 3px 5px 0px #000000;
}

.about_pic
{
	margin-left:auto;
	border-style:solid;
	border-width:3px 3px 3px 3px;
	border-color:#980826;
	box-shadow: 0px 0px 6px 0px #333333;
	width:120px;
	height:160px;
	float:right;
	display:block;
	margin-right:20px !important;
	margin-top:10px;
	margin-bottom:20px;
}

.about_names
{
	font-style:italic;
}

.about_paragraphs
{
	display:inline-block;
}

.about_headings
{
	clear:both;
}

.small_image_members_page
{
	border:none !important;
	width:15px !important;
	height:15px !important;
	display:inline !important;
	padding-right:10px !important;
}

#scroll_left
{
	float:left;
	background: -webkit-linear-gradient(right, rgba(255,255,255,0), rgba(0,0,0,.5)), #626466;
	background: linear-gradient(right, rgba(255,255,255,0), rgba(0,0,0,.5)), #626466;
}

#scroll_right
{
	float:right;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(0,0,0,.5)), #626466;
	background: linear-gradient(left, rgba(255,255,255,0), rgba(0,0,0,.5)), #626466;
}

#scroll_left:hover
{
	padding-right:10px;
}

#scroll_right:hover
{
	padding-left:10px;
}

.scroll_div:hover
{
	opacity:.75 !important;
	background-color:#333333 !important;
}

.scroll_div
{
	position:relative;
	height:350px;
	width:45px;
	background-color:#626466;
	opacity:.50;
	z-index:3;
	-webkit-transition: 0.5s ease;
  	-moz-transition: 0.5s ease;
  	-o-transition: 0.5s ease;
  	transition: 0.5s ease;
  	cursor: pointer; cursor: hand;
}

.scroll_div p
{
	margin-top:160px;
	width:100%;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
  	display:block;
  	font-size:20px;
  	color:#aeaeae;
  	font-weight:bold;
  	cursor: pointer; cursor: hand;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.modalBox {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
	pointer-events: none;
}

.modalBox:target {
	opacity:1;
	pointer-events: auto;
}

.modalBox > div {
	display: block;
	position: relative;
	padding: 10px;
	max-height:80%;
	margin-left:27%;
	margin-right:27%;
	margin-top:5%;
	margin-bottom:5%;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #eeeeee;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 6px;
	box-shadow: 0px 0px 3px #000000;
	z-index: 99999999;
}

.close:hover { 
	background: #ffffff; 
	color: #ffffff;
}

#smallHeader {
	position:fixed;
	display:none;
	z-index:4;
	width:1000px;
	height:50px;
	margin-left: auto;
	margin-right: auto;
	min-width:1000px;
	max-width:1000px;
	background-color: #980826;
	background: -webkit-linear-gradient(rgba(255,255,255,.12), rgba(255,255,255,0)), #980826;
	background: linear-gradient(rgba(255,255,255,.12), rgba(255,255,255,0)), #980826;
	box-shadow: 0px 0px 3px 2px #333333;
}

#tiny_social
{
	display:inline;
	float:right;
	padding-right:20px;
	padding-top:8px;
}

#tiny_social ul
{
	list-style-type:none;
	clear:both;
	overflow:hidden;
	padding-top:5px;
	padding-right:0px;
	float:right;
}

#tiny_social li
{
	display:inline;
	width:24px;
	height:24px;
}

#tiny_logo
{
	display:inline;
}

#tiny_logo img
{
	overflow:hidden;
	height:30px;
	padding-left:20px;
	padding-top:10px;
}

#tiny_navigation
{
	display:inline;
}

.tiny_navigation_bar
{
	display:inline;
	list-style-type:none;
	height:100%;
	margin:0px;
	padding:0px;
	overflow:hidden;
}

.tiny_navigation_bar li:first-child
{
	border-style:solid;
	border-width:0px 0px 0px 1px;
	border-color:#d6d6d6;
	margin-right:10px;
}

.tiny_navigation_bar li:last-child
{
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#d6d6d6;
}

.tiny_navigation_bar li+li
{
	border-style:solid;
	border-width:0px 0px 0px 1px;
	border-color:#d6d6d6;
}

.tiny_navigation_buttons
{
	height:auto;
	display:inline;
	margin:0px;
	margin-top:14px;
	float:right;
	text-align:center;
}

.tiny_navigation_link:link, .tiny_navigation_link:visited
{
	float:right;
	display:inline;
	min-width:50px;
	text-decoration:none;
	text-align:center;
	color: #d6d6d6;
	font-size:16px;
	padding-left:15px;
	padding-right:15px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	text-transform:uppercase;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}

.tiny_navigation_link:hover
{
	color: #ffffff;
	-webkit-transition: 0.3s ease;
  	-moz-transition: 0.3s ease;
  	-o-transition: 0.3s ease;
  	transition: 0.3s ease;
}

.tiny_navigation_link:active
{
	color: #eeeeee;
}

.tiny_navigation_link
{
	font-size:16px;
}

.closePictureBackground
{
	width:100%; 
	height:100%; 
	display:block; 
	position:absolute; 
}

.closePictureBackground:hover
{
	cursor:default;
}

#display_pic
{
	position:relative; 
	z-index:2;
}